@font-face {
    font-family: harryPotter;
    src: url("./fonts/HARRYP__.TTF")
}

#goblet {
    display: block;
    margin: auto;
    position: relative;
    width: 22%;
    left: 15px;
}

.flame1 {
    height: 530px;
    width: 270px;
    margin: auto;
    display: block;
    bottom: 240px;
    position: relative;
    z-index: 1;
    margin-bottom: -340px;
    background-size: cover;
    background-image: url(https://i.gifer.com/ODkF.gif);
    right: 14px;
    transition: .7s all ease-in;
    background-repeat: no-repeat;
}

.flame2 {
    background-image: url('https://i.gifer.com/5Mz4.gif');
    transform: scale(1.5);
    bottom: 310px;
}


.gif{
    position: relative;
    z-index: -1;
}

.rules {
    width: 20%;
    color: black;
    position: absolute;
    top: 300px;
    right: 130px;
    background-color: white;
    height: 400px;
    padding: 30px;
    padding-top: 5px;
    border-radius: 10px;
}

.rules > h1 {
    text-align: center;
    font-family: harryPotter;
    font-size: 50px;
}

.rules > li {
    margin: 10px 0px;
    list-style-type: none;
    font-size: 23px;
    font-family: harryPotter;
}

#firstRule {
    list-style-type: none;
    font-size: 35px;
    margin-left: -20px;
    margin-bottom: 10px;
}


.select {
    position: relative;
    height: 200px;
    width: 200px;
    margin: auto;
    bottom: 430px;
    background-color: #ffffff00;
    display: block;
}

.select > h1 {
    text-align: center;
    text-shadow: 1px 1px 1px white;
    background-color: #00000047;
    width: 90%;
    padding: 20px 0px;
    margin-left: 13px;
}

.video-dumbledore {
    visibility: visible;
    display: block;
    width: 40%;
    left: 31%;
    position: absolute;
    top: 200px;
}

.no-dumbledore {
    display:none;
    visibility: hidden;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
form > h1 {
    color: white;
    text-shadow: 1px 2px 0px black;
    position: relative;
    bottom: 13px;
    margin: auto;
    letter-spacing: 2px;
    font-size: 26px;
    padding: 10px 90px;
    background-color: #000000ad;
}
form {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-rows: 40px 40px 30px;
    grid-gap: 5px;
    margin-bottom: -50px;
    font-family: harryPotter;
}

form > input {
    border-radius: 6px;
    border: 1px solid #9a909078;
    background-color: #181818 !important;
    font-size: 25px;
    text-align: center;
    color: #f1feef;
    font-family: harryPotter, sans-serif;
}

.header {
    padding: 25px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
    font-family: harryPotter;
}

.header > a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

#title {
    font-size: 3em;
    text-align: center;
    text-shadow: 4px 4px 8px black;
}

.book {
    height: 100vh;
    background-image: url(https://data.whicdn.com/images/244100183/original.gif);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    font-size: 60px;
    font-family: harryPotter;
    position: relative;
    margin: -10px -10px -20px -10px;
}



.hamHide {
    display: none;
}



/* Media Query Mobile */


@media screen and (max-width: 768px ){
    #hamburger {
        display: block;
        width: 80px;
        margin: auto;
    }
    .hamNav {
        padding: 0;
        margin-top: 11px;
    }
    
    .hamNav > span {
        font-size: 23px;
        width: 100px;
        display: block;
        margin: auto;
    }
    
    
    .hamNav > li {
        margin: 10px;
        list-style-type: none;
        font-size: 25px;
        text-align: center;
    } 
}

@media (max-width: 768px){

    /* Houses Component */
    .houses {
        display: none;
    }

    /* House Component */

    .house {
        display: none;
    }

}

@media (min-width: 768px){


    .title {
        margin-bottom: 0;
    }

    /* Houses Component */
    .houses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        text-align: center;
    }
    /* House Component */

    .house {
        margin: 40px;
        font-size: 20px;
        border: 1px solid black;
        font-size: 20px;
        border-radius: 10px;
    }

    .house > ul {
        list-style-type: none;
        padding: 0;
    }

    .house > span {
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin: 0px 10px;
        box-shadow: 1px 1px 3px black;
    }

    .house > span:active {
        box-shadow: none;
        border: 1px solid blue;
    }
}

@media (min-width: 1200px){
    .title {
        margin-bottom: 0;
    }

    /* Houses Component */
    .houses {
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr;;
        text-align: center; */

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        grid-gap: 10px;
    }

    /* House Component */

    .house {
        margin: 20px;
        font-size: 20px;
        border: 1px solid black;
        font-size: 20px;
        border-radius: 10px;
    }

    .house > ul {
        list-style-type: none;
        padding: 0;
    }

    .house > span {
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin: 0px 10px;
        box-shadow: 1px 1px 3px black;
    }

    .house > span:active {
        box-shadow: none;
        border: 1px solid blue;
    }

    /* #Gryffindor {
        grid-column: 1/2;
    }

    #Ravenclaw {
        grid-column: 1/2;
    }

    #Hufflepuff {
        grid-column: 3/4;
    }

    #Slytherin {
        grid-column: 3/4;
    } */
}

